@charset "utf-8";
/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --bg-color: white;
  --primary-color: #5b6f90;
  --secondary-color: #FF0000;
}

strong {
    font-weight: 700;
}
p {
    font-family: sans-serif;
    font-size: 18px;
}
body{
	background-image:url('/images/Background.JPG');
	background-repeat:no-repeat, repeat;
	background-size: cover;
}
.container{
	background-color: var(--bg-color);
	width: 500px;
  	height: 700px;
	border: 5px solid var(--primary-color);
	padding: 10px;
	margin: 0 auto;
	text-align: center;
}
.btn {
  border-radius: 4rem;
  color: white;
  text-decoration: none;
  display: inline-block;
}
.stdBtn {
	border: 5px;
	 background-color: var(--primary-color);
	 font-size: 16px;
	 padding: 10px 24px;
}
.ascent{
	color:var(--primary-color);
}
.table{
	margin: 0 auto;
	border-collapse: collapse;
}
.balance, .lines, .credits{
	margin: 0 auto;
	padding: 5px 5px;
	display: inline-block
}
.spinBtn {
	background-color: var(--secondary-color);
	font-size: 24px;
	border: 10px;
	padding: 36px 36px;
	border-radius: 10rem;
}
*:focus:not(:focus-visible) {
  outline: 3px solid var(--secondary-color);
}
*:focus { 
  outline: 3px solid var(--secondary-color);
}
.btn.selected{
    outline: 3px solid var(--secondary-color);
}